<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_f316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{598,790}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{598,790}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>chara_f317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{600,794}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{600,794}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>icon_f316.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1433},{313,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,313}}</string>
                <key>sourceSize</key>
                <string>{313,313}</string>
            </dict>
            <key>icon_f317.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1118},{313,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,313}}</string>
                <key>sourceSize</key>
                <string>{313,313}</string>
            </dict>
            <key>myp_f316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{255,799}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,799}}</string>
                <key>sourceSize</key>
                <string>{255,799}</string>
            </dict>
            <key>myp_f317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,799}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,799}}</string>
                <key>sourceSize</key>
                <string>{255,799}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>persona.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34aa9c9b8021b88c89e743cfdb94881c:5ade6634fbdddeed2aab5cc1b67f1272:dcd917908db3c987fc51df119b375ba6$</string>
            <key>textureFileName</key>
            <string>persona.png</string>
        </dict>
    </dict>
</plist>
