<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_f316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{298,396}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{298,396}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>chara_f317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{300,398}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,398}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>icon_f316.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,723},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>icon_f317.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,564},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>myp_f316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,400}}</string>
                <key>sourceSize</key>
                <string>{128,400}</string>
            </dict>
            <key>myp_f317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,400}}</string>
                <key>sourceSize</key>
                <string>{128,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>persona.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34aa9c9b8021b88c89e743cfdb94881c:5ade6634fbdddeed2aab5cc1b67f1272:dcd917908db3c987fc51df119b375ba6$</string>
            <key>textureFileName</key>
            <string>persona.png</string>
        </dict>
    </dict>
</plist>
