<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cutin_anco.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,804},{600,786}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{600,786}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>cutin_anzu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>cutin_anzu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,804},{574,800}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{574,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>cutin_conoha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>cutin_conoha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{424,668}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,132},{424,668}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>icon_anco.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,604},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_anzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,604},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_conoha.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,604},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>persona_anzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>persona_conoha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{510,800}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{510,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>persona2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:862d0c3ab2f40bbdbab7b261aa176ca1:e8b9cba5eaba84363168a47f359a7773:1cce745608e2a3b9d8537fa2eae8c8ff$</string>
            <key>textureFileName</key>
            <string>persona2.png</string>
        </dict>
    </dict>
</plist>
