<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ep.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,118},{420,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,56}}</string>
                <key>sourceSize</key>
                <string>{420,56}</string>
            </dict>
            <key>ep_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,60},{420,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,56}}</string>
                <key>sourceSize</key>
                <string>{420,56}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{420,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,56}}</string>
                <key>sourceSize</key>
                <string>{420,56}</string>
            </dict>
            <key>hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,60},{420,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,56}}</string>
                <key>sourceSize</key>
                <string>{420,56}</string>
            </dict>
            <key>menu_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,840}}</string>
                <key>sourceSize</key>
                <string>{560,840}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>misc.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11c2439e452ee0b4675d9267b9ef6488:8815457e5c0227c0744926065eb012e8:c0c053a3aa7d34b5b1daf0abf4de0606$</string>
            <key>textureFileName</key>
            <string>misc.png</string>
        </dict>
    </dict>
</plist>
