<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cutin_anco.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,404},{300,392}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{300,392}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>cutin_anzu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>cutin_anzu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,404},{288,400}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>cutin_conoha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>cutin_conoha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{212,334}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,66},{212,334}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>icon_anco.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,304},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_anzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,304},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_conoha.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>persona_anzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>persona_conoha.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{256,400}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{256,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>persona2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:862d0c3ab2f40bbdbab7b261aa176ca1:e8b9cba5eaba84363168a47f359a7773:1cce745608e2a3b9d8537fa2eae8c8ff$</string>
            <key>textureFileName</key>
            <string>persona2.png</string>
        </dict>
    </dict>
</plist>
