<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2408},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1606},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f264.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1606},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f287.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f299.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,804},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f313.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,804},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f349.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f353.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f368.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>persona.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f64a583487306e9165daa89e1a1c1920:c8a865d86ee5f0bdc7c4df96b0a9b438:a79b2543d31d2137533674e77bb5a3c6$</string>
            <key>textureFileName</key>
            <string>persona.png</string>
        </dict>
    </dict>
</plist>
