<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ep.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,25}}</string>
                <key>sourceSize</key>
                <string>{210,25}</string>
            </dict>
            <key>ep_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,25}}</string>
                <key>sourceSize</key>
                <string>{210,25}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,25}}</string>
                <key>sourceSize</key>
                <string>{210,25}</string>
            </dict>
            <key>hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,25}}</string>
                <key>sourceSize</key>
                <string>{210,25}</string>
            </dict>
            <key>touchEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{86,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>misc.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d51e3f18c2c0ee45cc0e3745af65bbeb:b66b269fe55f56cb69e4d120131af82f:c0c053a3aa7d34b5b1daf0abf4de0606$</string>
            <key>textureFileName</key>
            <string>misc.png</string>
        </dict>
    </dict>
</plist>
