<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1408},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,806},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,600}}</string>
                <key>sourceSize</key>
                <string>{402,600}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,404},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,404},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1206},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,604},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:513a8ca7faba51bad053d72a6440a81d:be46f21f85d7b4a3c12ec8524931af17:5676f12078f58e495f6d04056e96739e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
