<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef07-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,584},{28,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{28,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef07-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,584},{36,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{36,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef07-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,584},{48,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{48,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef07-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,121},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef07-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef07-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,482},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef07-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,665},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef07-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,529},{96,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,627},{92,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,359},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,461},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,206},{96,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,104},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef09-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,863},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,223},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,410},{96,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,325},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef12-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,721},{76,76}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{76,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,563},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,761},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,427},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef14-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,308},{96,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ef22-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,125},{117,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{117,117}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef22-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef22-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,121},{107,83}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{107,83}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef22-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,244},{113,113}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{113,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef22-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,244},{117,109}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{117,109}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef22-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{117,115}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef22-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,887},{121,113}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef22-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{121,113}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{113,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,363},{89,117}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{89,117}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,891},{113,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,637},{121,123}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,764},{123,123}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef24-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{121,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,637},{113,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,363},{89,117}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{89,117}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,510},{113,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,762},{117,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,889},{121,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{123,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ef25-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{121,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleEffectB0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:530767c42b1bc301547854903397eed0:f4da33029d5b8f8ef5efb20929cff79a:494b1aab2763761ccf67fabeb48f2962$</string>
            <key>textureFileName</key>
            <string>battleEffectB0.png</string>
        </dict>
    </dict>
</plist>
