<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleEffect107a-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1062},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,124},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,364},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,124},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,724},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,604},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,838},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,838},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107a-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1232},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1068},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,124},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,364},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,124},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,722},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,838},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,938},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107b-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1312},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,124},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,484},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,124},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,722},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,606},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,838},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,950},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107c-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1242},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1068},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,244},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,722},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,604},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,838},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,950},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107d-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1320},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1142},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,246},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,486},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,244},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,722},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,604},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,950},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1038},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107e-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1320},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1152},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,244},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,484},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,244},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,722},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,604},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,954},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1046},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107f-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1158},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1158},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,244},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,484},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,244},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,838},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,604},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,956},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1046},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107g-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1142},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,364},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,484},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,840},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,604},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1134},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107h-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1158},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1230},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,366},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,484},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,364},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,722},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,956},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1062},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107i-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1158},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1232},{92,88}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,364},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,484},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,364},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,840},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,950},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1066},{98,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>battleEffect107j-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1162},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleEffect0.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af114211368ef2e38403d9a8c97a2fee:174be43ba96e5ff80243e54390808be9:77a02abf454e174a7403601fb9833665$</string>
            <key>textureFileName</key>
            <string>battleEffect0.png</string>
        </dict>
    </dict>
</plist>
