<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleEffect107a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,714},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,242},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,718},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,708},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,476},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,906},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,866},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,242},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,242},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,940},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,236},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,242},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,470},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,952},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,942},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,242},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,702},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,942},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,942},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,242},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,470},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,934},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,480},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1094},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1098},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,480},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,708},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,480},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1128},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1098},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,714},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1140},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1130},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1024},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,714},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,936},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1158},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1166},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,480},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,718},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1282},{156,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{156,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleEffect0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af114211368ef2e38403d9a8c97a2fee:174be43ba96e5ff80243e54390808be9:77a02abf454e174a7403601fb9833665$</string>
            <key>textureFileName</key>
            <string>battleEffect0.png</string>
        </dict>
    </dict>
</plist>
