<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleEffect107a-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,946},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,718},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,474},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107a-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,708},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1124},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,236},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,474},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107b-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,708},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1168},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,470},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,474},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107c-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,708},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107d-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,708},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,930},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,480},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107e-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,930},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,930},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,480},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107f-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,942},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,930},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,236},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107g-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,946},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1084},{182,176}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{182,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,236},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,474},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107h-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,236},{236,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,242},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,708},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107i-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,708},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,236},{240,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,242},{238,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,718},{230,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{232,236}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>battleEffect107j-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,896},{196,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{196,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleEffect1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af114211368ef2e38403d9a8c97a2fee:174be43ba96e5ff80243e54390808be9:77a02abf454e174a7403601fb9833665$</string>
            <key>textureFileName</key>
            <string>battleEffect1.png</string>
        </dict>
    </dict>
</plist>
