<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hecatoncheir_3L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{432,300}}</string>
                <key>sourceSize</key>
                <string>{434,300}</string>
            </dict>
            <key>anpo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1860},{130,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>anpo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,764},{130,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>anpo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,658},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>bis.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,481},{137,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,175}}</string>
                <key>sourceSize</key>
                <string>{137,175}</string>
            </dict>
            <key>dimetrodon_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{326,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,258}}</string>
                <key>sourceSize</key>
                <string>{326,258}</string>
            </dict>
            <key>dimetrodon_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{326,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,258}}</string>
                <key>sourceSize</key>
                <string>{326,258}</string>
            </dict>
            <key>heishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1181},{201,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,175}}</string>
                <key>sourceSize</key>
                <string>{201,175}</string>
            </dict>
            <key>heishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,931},{248,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,175}}</string>
                <key>sourceSize</key>
                <string>{248,175}</string>
            </dict>
            <key>heishi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{234,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,191}}</string>
                <key>sourceSize</key>
                <string>{234,191}</string>
            </dict>
            <key>load.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1553},{154,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,200}}</string>
                <key>sourceSize</key>
                <string>{154,200}</string>
            </dict>
            <key>load_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1539},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{157,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,193}}</string>
                <key>sourceSize</key>
                <string>{157,193}</string>
            </dict>
            <key>magic_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1860},{184,191}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,191}}</string>
                <key>sourceSize</key>
                <string>{184,193}</string>
            </dict>
            <key>magic_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1384},{167,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,200}}</string>
                <key>sourceSize</key>
                <string>{167,200}</string>
            </dict>
            <key>mino_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{358,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,259}}</string>
                <key>sourceSize</key>
                <string>{358,259}</string>
            </dict>
            <key>mino_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{358,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,259}}</string>
                <key>sourceSize</key>
                <string>{358,259}</string>
            </dict>
            <key>necro.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,304},{143,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,175}}</string>
                <key>sourceSize</key>
                <string>{143,175}</string>
            </dict>
            <key>rev_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1709},{159,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,188}}</string>
                <key>sourceSize</key>
                <string>{159,188}</string>
            </dict>
            <key>rev_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1709},{127,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,150}}</string>
                <key>sourceSize</key>
                <string>{127,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy2.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a97d1068fb261bd2ac8979b38ada96:6f26b6591254471607a9cfd5dd9ad3f8:ae68ae680e85d1ebf023003e455002ed$</string>
            <key>textureFileName</key>
            <string>enemy2.png</string>
        </dict>
    </dict>
</plist>
