<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hecatoncheir_1L.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,545},{97,142}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{97,142}}</string>
                <key>sourceSize</key>
                <string>{217,150}</string>
            </dict>
            <key>Hecatoncheir_2L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{125,142}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,8},{125,142}}</string>
                <key>sourceSize</key>
                <string>{217,150}</string>
            </dict>
            <key>Hecatoncheir_3L.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,206},{215,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{215,150}}</string>
                <key>sourceSize</key>
                <string>{217,150}</string>
            </dict>
            <key>anpo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,345},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>anpo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,260},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>anpo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,206},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>bis.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,644},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>dimetrodon_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,490},{163,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,129}}</string>
                <key>sourceSize</key>
                <string>{163,129}</string>
            </dict>
            <key>dimetrodon_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{163,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,129}}</string>
                <key>sourceSize</key>
                <string>{163,129}</string>
            </dict>
            <key>flying_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,236}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{115,236}}</string>
                <key>sourceSize</key>
                <string>{123,240}</string>
            </dict>
            <key>heishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,803},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>heishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{124,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,88}}</string>
                <key>sourceSize</key>
                <string>{124,88}</string>
            </dict>
            <key>heishi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{117,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,96}}</string>
                <key>sourceSize</key>
                <string>{117,96}</string>
            </dict>
            <key>load.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,358},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>load_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,922},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,802},{79,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{79,97}</string>
            </dict>
            <key>magic_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,906},{92,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>magic_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>mino_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,358},{179,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,130}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>mino_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{179,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,130}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>necro.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,901},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>onbonoyasu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,799},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>rev_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,717},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>rev_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,430},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>ride_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{202,222}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{202,222}}</string>
                <key>sourceSize</key>
                <string>{206,240}</string>
            </dict>
            <key>ride_cat_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{202,234}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{202,234}}</string>
                <key>sourceSize</key>
                <string>{206,240}</string>
            </dict>
            <key>rion.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,621},{94,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,125}}</string>
                <key>sourceSize</key>
                <string>{94,125}</string>
            </dict>
            <key>rion_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,717},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>rion_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,460},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d516054999c5ea8acd7a7f27b3368d43:8fe7e06fd90454f2df7c14cd1791d69c:ae68ae680e85d1ebf023003e455002ed$</string>
            <key>textureFileName</key>
            <string>enemy2.png</string>
        </dict>
    </dict>
</plist>
