<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f183.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f186.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,604},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f189.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{600,792}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,792}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f195.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f201.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f271.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2380},{584,782}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{584,782}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f274.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1798},{580,800}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{580,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
            <key>f277.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1206},{590,800}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{590,800}}</string>
                <key>sourceSize</key>
                <string>{600,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71222be5ea4fc168c5c1c815d041a1a2:c25075285e2aebf6cc3c9f6e315946ae:72af46cda688c98ab8b9b8d039be5d16$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
