<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f183.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f186.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,304},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f189.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{300,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,396}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f195.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f201.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f271.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1196},{292,392}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{292,392}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f274.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,904},{290,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{290,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>f277.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,606},{296,400}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{296,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71222be5ea4fc168c5c1c815d041a1a2:c25075285e2aebf6cc3c9f6e315946ae:72af46cda688c98ab8b9b8d039be5d16$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
